// Sizes
$size-xxs: 240px;
$size-xs: 360px;
$size-sm: 480px;
$size-md: 768px;
$size-lg: 1024px;
$size-xl: 1440px;
$size-xxl: 1920px;


// Shadows
$shadow-basic: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$shadow-light:  0 2px 12px 0 rgba(0, 0, 0, 0.1);
